body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.noteContainer{
  display: flex;
  justify-content: space-evenly;
}
.noteBlock{
  width: 50vw;
  min-height: 400px;
  box-shadow: 1px 1px 5px 10px grey;
  margin: 20px;
}

.noteBlock:first-child{
  width: 30vw;
}
